paint-container {
  footer {
    position: fixed;
    bottom: 0;
    background: #212121;
    width: 100%;
    display: flex;
    height: 3em;
    align-items: center;
    justify-content: space-around;
    color: white;

    button {
      background: transparent;
      color: white;
      text-transform: uppercase;
      border: none;
      outline: none;
    }
  }

  header {
    position: fixed;
    top: 0;
    background: #212121;
    width: 100%;
    height: 2.8em;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    padding-left: 15px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  }

  #colorInput {
    border: none;
    background: transparent;
    height: 2.4em;
  }
}
